wheel
pyannote.audio
hydra_core
hydra_colorlog
julius
numpy
pystoi
git+https://github.com/ludlows/python-pesq#egg=pesq
six
sounddevice
torchaudio
torch
speechbrain
mir_eval
pytorch-minimize
pyroomacoustics
